<h1>{{ platillo.nombre }}</h1>
<p>{{ platillo.descripcion }}</p>
<p>Información Nutricional: {{ platillo.informacion_nutricional }}</p>
<p>Calificación Promedio: {{ platillo.calificacion_promedio }}</p>
<h2>Comentarios</h2>
<ul>
    {% for comentario in platillo.comentarios.all %}
        <li>{{ comentario.usuario }}: {{ comentario.comentario }} ({{ comentario.calificacion }})</li>
    {% endfor %}
</ul>
<a href="{% url 'agregar_comentario' platillo.id %}">Agregar Comentario</a>
<a href="{% url 'menu_principal' %}">Volver al menú principal</a>
