<h1>Menú del Día</h1>
<style>
    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #007BFF;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #0056b3;
    }
</style>
<ul>
    {% for platillo in platillos %}
        <li>
            <a href="{% url 'detalle_platillo' platillo.id %}">{{ platillo.nombre }}</a>
        </li>
    {% endfor %}
    <a href="{% url 'agregar_platillo' %}" class="btn">Agregar Platillo</a>



</ul>
